[Unit]
Description=Run SigmaOS maintenance tasks daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
